.backdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    opacity: 1;
    background: var(--react-modal-pro-backdrop-background);
}

.sheet {
    top: 50%;
    left: 50%;
    z-index: 1010;
    position: fixed;
    min-width: 400px;
    min-height: 250px;
    transform: translate(-50%, -50%);
    opacity: 1;
    border-radius: var(--react-modal-pro-sheet-radius);
    background: var(--react-modal-pro-sheet-background);
}