:root {
  --react-modal-pro-sheet-radius: 12px;
  --react-modal-pro-sheet-padding: 24px;
  --react-modal-pro-sheet-background: #ffffff;
  --react-modal-pro-backdrop-background: #0000004a;
}

html {
  height: -webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
}

