:root {
    --react-modal-pro-sheet-radius: 12px;
    --react-modal-pro-sheet-background: #FFFFFF;
    --react-modal-pro-backdrop-background: #0000004a;
}

@keyframes dialog-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: initial;
    }
}

@keyframes dialog-fade-out {
    0% {
        opacity: initial;
    }

    100% {
        opacity: 0;
    }
}